

body {
  margin: 0auto;
  padding: 0;
  font-family: 'font';
  src: local('font'), url(./assets/font.ttf) format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
